.HeaderView
{
    position: absolute;
    background-color: rgb(214, 214, 214);
    width: calc(100% - 300px);
    min-width: 600px;
    height: 100px;
    left:300px;
    top:0px;
}

@font-face 
{
    font-family: 'SuperMario';
    src: url('./../Fonts/SuperMarioBros.ttf') format('truetype');
}

.HeaderView h1
{
    text-align: center;
    font-family: "SuperMario";
}